<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>message</title>
    <style>
        body
        {
            background-color: black;
        }
        center>h1
        {
            color:blue;
        }
        h2
        {
            color: yellow
        }
    </style>
</head>
<body>
    <center>
        <h1>We are Learning Django Framework Development...!!!</h1>
        <h2><marquee>Our Trainer is so Talented...Harshadvali Shaik..!!!</marquee></h2>
    </center>
</body>
</html>